.circle {
  display: inline-block;
  background-color: #e7edfe;
  margin-left: 2px;
  border-radius: 50%;
}

.circle-inner {
  color: #177dd0;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  text-decoration: none;
  height: 40px;
  width: 40px;
  font-size: 15px;
  font-weight: bold;
}
