<label [class.readOnly]="readOnly || isDisabled" [class.warning]="type == 'number' && warning">
  <span *ngIf="subText && subText.pos == 'before'">{{subText.text}}</span>
  <ng-icon
    *ngIf="type == 'number' && warning && value && (readOnly || isDisabled)"
    name="heroExclamationTriangle" size="20" class="mx-2 exclamationTriangle"
  ></ng-icon>
  <input
    #MyInput
    [(ngModel)]="value"
    (input)="onChange($any($event.target).value)"
    (blur)="onTouched()" [disabled]="isDisabled"
    [placeholder]="placeholder"
    [readonly]="readOnly"
    [type]="type"
  >
  <div *ngIf="type == 'number' && (value || !readOnly)">EUR</div>
</label>
