<form (ngSubmit)="submit()" [formGroup]="form">
{{form.value | json}}
  <div class="w-100 mb-4 my-shadow container rounded pt-3">
    <h3>Dettagli gruppo di firma</h3>
    <div class="d-flex justify-content-between">
      <div class="d-flex">
        <label class="d-flex flex-column text-secondary m-2">
          Nome gruppo
          <app-my-input type="text" formControlName="groupName" />
        </label>

        <label class="d-flex flex-column text-secondary m-2">
          Soglia minima servizi
          <div class="my-form-control d-flex">
            <app-my-input type="number" formControlName="maxValue" [subText]="{text: 'EURO', pos: 'after'}" />
          </div>
        </label>

        <label class="d-flex flex-column text-secondary m-2">
          Soglia massima servizi
          <div class="my-form-control d-flex">
            <app-my-input type="number" formControlName="minValue" [subText]="{text: 'EURO', pos: 'after'}" />
          </div>
        </label>
      </div>

      <div class="d-flex opacity-50 m-2">
        <div class="circle">
          <p class="circle-inner">1</p>
        </div>
        <div class="circle">
          <p class="circle-inner">2</p>
        </div>
      </div>
    </div>
  </div>

  <div class="w-50 my-shadow container rounded pt-3">
    <h3>
      Abilita servizi per gruppo di firma
      <h5 class="text-secondary">Seleziona i servizi e imposta la relativa soglia</h5>
    </h3>

    <div class="mb-3">
      <div class="row text-secondary" style="font-size: 14px">
        <div class="col">
          Servizio
        </div>
        <div class="col">
          Soglia minima
        </div>
        <div class="col">
          Soglia massima
        </div>
      </div>
      <div class="row"
           *ngFor="let fun of functions.controls; let i = index"
           formArrayName="functions"
           style="padding: 10px"
      >
        <ng-container [formGroupName]="i">
          <div class="col d-flex">
            <label class="switch" style="margin-top: 3px; margin-right: 2px">
              <input
                type="checkbox"
                (change)="toggleFunctionInput($event)"
              >
              <span class="slider"></span>
            </label>
          </div>
          <div class="col">
            <app-my-input type="number" formControlName="minValue" [subText]="{text: 'EURO', pos: 'after'}" />
          </div>
          <div class="col">
            <app-my-input type="number" formControlName="maxValue" [subText]="{text: 'EURO', pos: 'after'}" />
          </div>
        </ng-container>
      </div>
    </div>
  </div>


  <!--  <app-card-overview-user-list-->
<!--    [parentForm]="form"-->
<!--  ></app-card-overview-user-list>-->

</form>

<!--<form [formGroup]="myForm" (ngSubmit)="submit()">-->
<!--  <div>-->
<!--    <label>-->
<!--      Group Name-->
<!--      <input formControlName="groupName">-->
<!--    </label>-->

<!--    <div>-->
<!--      <label>-->
<!--        Min-->
<!--        <input formControlName="min">-->
<!--      </label>-->
<!--    </div>-->

<!--    <div>-->
<!--      <label>-->
<!--        Min-->
<!--        <input formControlName="max">-->
<!--      </label>-->
<!--    </div>-->

<!--    <div formArrayName="max">-->
<!--      <div *ngFor="let max of getFormsControls()['controls']; let i = index">-->
<!--        <label>-->
<!--          Max-->
<!--          <input formControlName="{{i}}">-->
<!--        </label>-->
<!--      </div>-->
<!--    </div>-->

<!--    <button type="submit">-->
<!--      qwe-->
<!--    </button>-->
<!--  </div>-->
<!--</form>-->



<!--<mat-grid-list cols="1" rowHeight="200px">-->
<!--  <mat-grid-tile>-->
<!--    <div class="card w-100">-->
<!--      <div class="card-body">-->
<!--        <h1 class="card-title">Dettagli gruppo di firma</h1>-->
<!--        <div class="card-text d-flex justify-content-between">-->
<!--          <div class="d-flex">-->
<!--            <mat-form-field style="margin-right: 10px">-->
<!--              <mat-label>Nome gruppo</mat-label>-->
<!--              <input matInput [(ngModel)]="groupDetails.groupName">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field style="margin-right: 10px">-->
<!--              <mat-label>Soglia minima servizi</mat-label>-->
<!--              <input matInput [(ngModel)]="groupDetails.minValue">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field style="margin-right: 10px">-->
<!--              <mat-label>Soglia massima servizi</mat-label>-->
<!--              <input matInput [(ngModel)]="groupDetails.minValue">-->
<!--            </mat-form-field>-->
<!--          </div>-->

<!--          <div class="d-flex opacity-50" style="padding-top: 10px">-->
<!--            <div class="circle" *ngFor="let user of groupDetails.users">-->
<!--              <p class="circle-inner">{{user.userInitials}}</p>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--<mat-grid-list cols="2" rowHeight="800px" [gutterSize]="'10px'">-->
<!--  <mat-grid-tile >-->
<!--    <div class="card w-100 h-100">-->
<!--      <div class="card-body">-->
<!--        <h1 class="card-title">-->
<!--          Abilita servizi per gruppo di firma-->
<!--          <h3 class="card-subtitle text-secondary">Seleziona i servizi e imposta la relativa soglia</h3>-->
<!--        </h1>-->
<!--        <mat-grid-list cols="9" rowHeight="50px" [gutterSize]="'10px'">-->
<!--          <mat-grid-tile colspan="3">-->
<!--            <div class="w-100 h-100">-->
<!--              <h3 class="text-secondary fw-bold">Servizio</h3>-->
<!--            </div>-->
<!--          </mat-grid-tile>-->
<!--          <mat-grid-tile colspan="2">-->
<!--            <div class="w-100 h-100">-->
<!--              <h3 class="text-secondary fw-bold">Soglia minima</h3>-->
<!--            </div>-->
<!--          </mat-grid-tile>-->
<!--          <mat-grid-tile>-->
<!--          </mat-grid-tile>-->
<!--          <mat-grid-tile colspan="2">-->
<!--            <div class="w-100 h-100">-->
<!--              <h3 class="text-secondary fw-bold">Soglia massima</h3>-->
<!--            </div>-->
<!--          </mat-grid-tile>-->
<!--          <mat-grid-tile>-->
<!--          </mat-grid-tile>-->
<!--        </mat-grid-list>-->
<!--        <app-function-row-->
<!--          *ngFor="let function of functionList"-->
<!--          [functionDetails]="existInListOfGroupFunctions(function)"-->

<!--        >-->
<!--        </app-function-row>-->

<!--      </div>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile>-->
<!--    <div class="card w-100 h-100">-->
<!--      <div class="card-body">-->
<!--        <h1 class="card-title">-->
<!--          Seleziona utenti da aggiungere al gruppo-->
<!--          <h3 class="card-subtitle text-secondary">Sono disponibili solo gli utenti dispositivi</h3>-->
<!--        </h1>-->
<!--        <div class="card-text">-->
<!--          qweqwe-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--</mat-grid-list>-->

<!--&lt;!&ndash;<mat-grid-list cols="2" rowHeight="90vh">&ndash;&gt;-->
<!--&lt;!&ndash;  <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;    <mat-card style="margin: 1px; width: 100%;height: 100%; display: flex;justify-content: space-between;">&ndash;&gt;-->
<!--&lt;!&ndash;      <div>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-title>Some Title</mat-card-title>&ndash;&gt;-->
<!--&lt;!&ndash;          <mat-card-subtitle>Some subTitle</mat-card-subtitle>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card-header>&ndash;&gt;-->
<!--&lt;!&ndash;        <mat-card-content class="pt-3">&ndash;&gt;-->
<!--&lt;!&ndash;          <form>&ndash;&gt;-->
<!--&lt;!&ndash;            <mat-grid-list cols="2" rowHeight="100">&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="w-80">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="email" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="email" placeholder="name@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="w-80">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="email" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="email" placeholder="name@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="w-80">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="email" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="email" placeholder="name@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="w-80">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="email" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="email" placeholder="name@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;              <mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;                <div class="w-80">&ndash;&gt;-->
<!--&lt;!&ndash;                  <label for="email" class="form-label">Email address</label>&ndash;&gt;-->
<!--&lt;!&ndash;                  <input type="email" class="form-control" id="email" placeholder="name@example.com">&ndash;&gt;-->
<!--&lt;!&ndash;                </div>&ndash;&gt;-->
<!--&lt;!&ndash;              </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;            </mat-grid-list>&ndash;&gt;-->
<!--&lt;!&ndash;          </form>&ndash;&gt;-->
<!--&lt;!&ndash;        </mat-card-content>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      <mat-card-actions>&ndash;&gt;-->
<!--&lt;!&ndash;        <button mat-button>Edit</button>&ndash;&gt;-->
<!--&lt;!&ndash;      </mat-card-actions>&ndash;&gt;-->
<!--&lt;!&ndash;    </mat-card>&ndash;&gt;-->
<!--&lt;!&ndash;  </mat-grid-tile>&ndash;&gt;-->
<!--&lt;!&ndash;</mat-grid-list>&ndash;&gt;-->
<pre>{{form.value.groupName | json}}</pre>
<pre>{{form.value.minValue | json}}</pre>
<pre>{{form.value.maxValue | json}}</pre>
