<h1><a [routerLink]="['gruppi-di-firma']" class="text-decoration-none">Gruppi di firma > </a>Gruppo di firma per desposizioni</h1>
<form (ngSubmit)="submit()" [formGroup]="form">

  <div class="mb-4 shadow-lg container rounded rounded-3 p-4">
    <h2 class="fw-bold">Dettagli gruppo di firma</h2>
    <div class="row">
      <div class="col-10">
        <label class="col-4 text-secondary me-4">
          Nome gruppo
          <app-my-input type="text" formControlName="groupName" [ngStyle]="{'border-bottom': this.form.get('groupName').invalid? '1px red solid': ''}"/>
        </label>

        <label class="col-2 text-secondary me-4">
          Soglia minima servizi
          <app-my-input type="number" formControlName="minValue" #MainMinInput/>
        </label>

        <label class="col-2 text-secondary">
          Soglia massima servizi
          <app-my-input type="number" formControlName="maxValue" #MainMaxInput/>
        </label>
      </div>

      <div class="col-2 d-flex justify-content-end align-items-center">
        <app-user-circle-list [users]="form.value.users | userFormFilter : 'checked': true" />
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between mb-3">
    <div class="function-list-container shadow-lg rounded rounded-3 p-4">
      <h2 class="fw-bold">
        Abilita servizi per gruppo di firma
        <h5 class="text-secondary fw-bold">Seleziona i servizi e imposta la relativa soglia</h5>
      </h2>

      <table class="w-100">
        <div class="overflow-y-scroll pe-1" style="height: 590px">
          <thead>
            <tr class="text-secondary" style="font-weight: 500;">
              <td >Servizio</td>
              <td>Soglia minima</td>
              <td>Soglia massima</td>
            </tr>
          </thead>

          <tbody>
            <tr
              *ngFor="let fun of functions.controls; let i = index"
              formArrayName="functions"
              class="row-height"
              style="height: 60px;"
            >
              <ng-container [formGroupName]="i">
                <td width="40%">
                  <div class="d-flex w-100 h-100">
                    <app-toggle-slider formControlName="checked" #toggle />
                    <div class="ms-2" title="{{fun.value.name}}">{{ fun.value.name | characters: 15 }}</div>
                  </div>
                </td>
                <td>
                  <app-my-input #MyMinInput type="number" formControlName="minValue" [readOnly]="!toggle.toggleOn" [exactValue]="MainMinInput.value"/>
                </td>
                <td>
                  <app-my-input #MyMaxInput type="number" formControlName="maxValue" [readOnly]="!toggle.toggleOn" [exactValue]="MainMaxInput.value" />
                </td>
              </ng-container>
            </tr>
          </tbody>
        </div>
      </table>
    </div>
    <div class="user-list-container shadow-lg rounded rounded-3 p-4">
      <h2 class="fw-bold">
        Seleziona utenti da aggiungere al gruppo
        <h5 class="text-secondary fw-bold">Sono disponibili solo gli utenti dispositivi</h5>
      </h2>
      <div class="col-4">
        <app-my-input [formControl]="filterPlace" placeholder="Filtra..."/>
      </div>
      <ul style="list-style: none;" class="p-0 mt-3">
        <ng-container
          *ngFor="let user of users.controls | userFormFilter : 'fullName' : filterPlace.value;let i=index"
          formArrayName="users"
        >
          <li class="my-2" [formGroupName]="i">
            <app-user-checkbox formControlName="checked" [fullName]="user.value.fullName" [initial]="user.value.userInitials" />
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
  <div class="w-100 d-flex justify-content-end">
    <button class="btn" (click)="router.navigate([''])">Indietro</button>
    <ng-container *ngIf="form.disabled == true; else saveButton">
      <button class="btn btn-primary" (click)="form.enable()">Modifica</button>
    </ng-container>
    <ng-template #saveButton>
      <button class="btn btn-primary" type="submit">Salva</button>
    </ng-template>
  </div>
</form>
