<mat-form-field>
  <mat-label>Filtra...</mat-label>
  <input matInput [(ngModel)]="filterString">
</mat-form-field>

<mat-card
  class="mb-3 p-3 shadow-lg"
  *ngFor="let i of data | groupListFilter : filterString"
  [ngClass]="{'error-card': i.warning}"
>
  <mat-card-title class="d-flex justify-content-between">
    <div>
      <i class="bi bi-exclamation-diamond mx-1"></i>{{i.groupName}}
      <div ngbDropdown #myDrop="ngbDropdown" class="d-inline-block dropdown" (mouseleave)="myDrop.close()">
        <i
          class="bi bi-three-dots"
          (mouseenter)="myDrop.open()"
        ></i>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <div style="padding-left: 15px">Alto</div>
          <hr style="margin: auto; width: 80%">
          <button ngbDropdownItem (click)="router.navigate(['card-overview', i.id])" ><i class="bi bi-pencil" style="margin-right: 10px"></i>Modify</button>
          <button ngbDropdownItem (click)="deleteGroup(i.id)"><i class="bi bi-trash" style="margin-right: 10px"></i>Delete</button>
        </div>
      </div>
    </div>
    <div class="d-flex opacity-50">
      <div class="circle" *ngFor="let k of i.users">
        <p class="circle-inner">{{k.userInitials}}</p>
      </div>
    </div>
  </mat-card-title>
  <mat-card-subtitle class="mb-4" *ngIf="i.warning">{{i.warning}}</mat-card-subtitle>
  <mat-card-content class="d-flex">
    <div class="d-flex" style="margin-right: 50px" *ngFor="let l of i.functions">
      <div class="rounded-circle p-2 border card-info">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-credit-card" viewBox="0 0 16 16">
          <path d="M0 4a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v8a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V4zm2-1a1 1 0 0 0-1 1v1h14V4a1 1 0 0 0-1-1H2zm13 4H1v5a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V7z"/>
          <path d="M2 10a1 1 0 0 1 1-1h1a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1v-1z"/>
        </svg>
      </div>
      <div><b>{{l.title}}</b><br><p class="d-inline text-secondary">{{l.minValue}}$ - {{l.maxValue}}$</p></div>
    </div>
  </mat-card-content>
</mat-card>
