<mat-form-field>
  <mat-label>Filtra...</mat-label>
  <input matInput [(ngModel)]="filterString">
</mat-form-field>

<app-group-card
  *ngFor="let group of (this.groupService.groupList | groupListFilter : filterString) | groupListSort"
  [group]="group"
/>

<div class="d-flex justify-content-end">
  <button
    class="btn btn-primary"
    (click)="router.navigate(['gruppi-di-firma','gruppo-di-firma-per-desposizioni'])"
  >
    Novo gruppo<i class="bi bi-plus-circle ps-2"></i>
  </button>
</div>
