@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

.error-card{
  border: 2px #ffa726 solid;
}

mat-card {
  border: 2px solid transparent;
  border-radius: 20px;
}

.bi-exclamation-diamond {
  color: #ffa726;
}

.dropdown:hover .bi-three-dots {
  color: #2196f3;
}

mat-card:hover .bi-three-dots {
  display: inline;
}

.bi-three-dots {
  display: none;
}

.icon {
  color: #2196f3;
  border-color: #2196f3!important;
  margin-right: 15px;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

mat-card:hover .icon {
  color: gray;
  border-color: gray !important;
}

hr {
  margin: auto;
  width: 80%
}

