.toggle-bg {
  display: block;
  height: 17px;
  width: 35px;
  background-color: #8f9297;
  border-radius: 4px;
  position: relative;
}

.toggle-bg .toggle {
  width: 13px;
  margin: 2px;
  display: inline-block;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  border-radius: 3px;
}

.toggle-on {
  background-color: #0064b3;
}

.disabled {
  pointer-events: none;
}

.disabled .toggle-bg {
  background-color: #d2d3d5 !important;
}

.disabled .toggle {
  background-color: #74747c !important;
}
